#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"HaikuStyle Theme\0"
#define REACTOS_STR_INTERNAL_NAME	"HaikuStyle\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"haikustyle.msstyles\0"
#include <reactos/version.rc>

#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 COLORNAMES					{L"Normal Color\0\0"}
COMBO COMBODATA					{0x0003,0x0003, 0x0000, 0x0003, 0x0006, 0x0001,0x0004,0x0007,0x0002,0x0005,0x08,}
1 PACKTHEM_VERSION				{0x03,}
1 FILERESNAMES					{L"NORMALBLUE_INI\0LARGEFONTSBLUE_INI\0EXTRALARGEBLUE_INI\0\0"}
1 SIZENAMES						{L"Normal Size\0Large Fonts\0Extra Large Fonts\0\0"}
1 MINDEPTH						{0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x0000,}

EXTRALARGEBLUE_INI TEXTFILE	"textfiles/EXTRALARGEBLUE_utf16.INI"
LARGEFONTSBLUE_INI TEXTFILE	"textfiles/LARGEFONTSBLUE_utf16.INI"
NORMALBLUE_INI TEXTFILE		"textfiles/NORMALBLUE_utf16.INI"
//THEMES_INI TEXTFILE				"textfiles/THEMES.INI"
THEMES_INI TEXTFILE				{L"\r\n"}

BLUE_BALLOONCLOSE_BMP BITMAP "bitmaps/BLUE_BALLOONCLOSE_BMP.bmp"
BLUE_BUTTON_BMP BITMAP "bitmaps/BLUE_BUTTON_BMP.bmp"
BLUE_CAPTIONBUTTON_BMP BITMAP "bitmaps/BLUE_CAPTIONBUTTON_BMP.bmp"
BLUE_CHECKBOX13_BMP BITMAP "bitmaps/BLUE_CHECKBOX13_BMP.bmp"
BLUE_CHECKBOX16_BMP BITMAP "bitmaps/BLUE_CHECKBOX16_BMP.bmp"
BLUE_CHECKBOX25_BMP BITMAP "bitmaps/BLUE_CHECKBOX25_BMP.bmp"
BLUE_CHEVRON_BMP BITMAP "bitmaps/BLUE_CHEVRON_BMP.bmp"
BLUE_CLOSEBUTTON_BMP BITMAP "bitmaps/BLUE_CLOSEBUTTON_BMP.bmp"
BLUE_CLOSEGLYPH19_BMP BITMAP "bitmaps/BLUE_CLOSEGLYPH19_BMP.bmp"
BLUE_CLOSEGLYPH23_BMP BITMAP "bitmaps/BLUE_CLOSEGLYPH23_BMP.bmp"
BLUE_CLOSEGLYPH6_BMP BITMAP "bitmaps/BLUE_CLOSEGLYPH6_BMP.bmp"
BLUE_CLOSEGLYPH9_BMP BITMAP "bitmaps/BLUE_CLOSEGLYPH9_BMP.bmp"
BLUE_CLOSEGLYPH_BMP BITMAP "bitmaps/BLUE_CLOSEGLYPH_BMP.bmp"
BLUE_COMBOBUTTONGLYPH_BMP BITMAP "bitmaps/BLUE_COMBOBUTTONGLYPH_BMP.bmp"
BLUE_COMBOBUTTON_BMP BITMAP "bitmaps/BLUE_COMBOBUTTON_BMP.bmp"
BLUE_EXPLORERBARHEADERBACKGROUND_BMP BITMAP "bitmaps/BLUE_EXPLORERBARHEADERBACKGROUND_BMP.bmp"
BLUE_EXPLORERBARHEADERCLOSE_BMP BITMAP "bitmaps/BLUE_EXPLORERBARHEADERCLOSE_BMP.bmp"
BLUE_EXPLORERBARHEADERPIN_BMP BITMAP "bitmaps/BLUE_EXPLORERBARHEADERPIN_BMP.bmp"
BLUE_EXPLORERBARTOOLBARBACKGROUND_BMP BITMAP "bitmaps/BLUE_EXPLORERBARTOOLBARBACKGROUND_BMP.bmp"
BLUE_EXPLORERBARTOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/BLUE_EXPLORERBARTOOLBARBUTTONSSPLITDROPDOWN_BMP.bmp"
BLUE_EXPLORERBARTOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/BLUE_EXPLORERBARTOOLBARBUTTONSSPLIT_BMP.bmp"
BLUE_EXPLORERBARTOOLBARBUTTONS_BMP BITMAP "bitmaps/BLUE_EXPLORERBARTOOLBARBUTTONS_BMP.bmp"
BLUE_FIELDOUTLINEBLUE_BMP BITMAP "bitmaps/BLUE_FIELDOUTLINEBLUE_BMP.bmp"
BLUE_FRAMEBOTTOM_BMP BITMAP "bitmaps/BLUE_FRAMEBOTTOM_BMP.bmp"
BLUE_FRAMECAPTIONMIN_BMP BITMAP "bitmaps/BLUE_FRAMECAPTIONMIN_BMP.bmp"
BLUE_FRAMECAPTIONSIZING_BMP BITMAP "bitmaps/BLUE_FRAMECAPTIONSIZING_BMP.bmp"
BLUE_FRAMECAPTION_BMP BITMAP "bitmaps/BLUE_FRAMECAPTION_BMP.bmp"
BLUE_FRAMELEFT_BMP BITMAP "bitmaps/BLUE_FRAMELEFT_BMP.bmp"
BLUE_FRAMEMAXIMIZED_BMP BITMAP "bitmaps/BLUE_FRAMEMAXIMIZED_BMP.bmp"
BLUE_FRAMERIGHT_BMP BITMAP "bitmaps/BLUE_FRAMERIGHT_BMP.bmp"
BLUE_GRIPPERVERT_BMP BITMAP "bitmaps/BLUE_GRIPPERVERT_BMP.bmp"
BLUE_GRIPPER_BMP BITMAP "bitmaps/BLUE_GRIPPER_BMP.bmp"
BLUE_GROUPBOX_BMP BITMAP "bitmaps/BLUE_GROUPBOX_BMP.bmp"
BLUE_HELPGLYPH19_BMP BITMAP "bitmaps/BLUE_HELPGLYPH19_BMP.bmp"
BLUE_HELPGLYPH23_BMP BITMAP "bitmaps/BLUE_HELPGLYPH23_BMP.bmp"
BLUE_HELPGLYPH6_BMP BITMAP "bitmaps/BLUE_HELPGLYPH6_BMP.bmp"
BLUE_HELPGLYPH9_BMP BITMAP "bitmaps/BLUE_HELPGLYPH9_BMP.bmp"
BLUE_HELPGLYPH_BMP BITMAP "bitmaps/BLUE_HELPGLYPH_BMP.bmp"
BLUE_IE_PERSONALBARMENU_BMP BITMAP "bitmaps/BLUE_IE_PERSONALBARMENU_BMP.bmp"
BLUE_LISTVIEWHEADERBACKGROUND_BMP BITMAP "bitmaps/BLUE_LISTVIEWHEADERBACKGROUND_BMP.bmp"
BLUE_LISTVIEWHEADER_BMP BITMAP "bitmaps/BLUE_LISTVIEWHEADER_BMP.bmp"
BLUE_MAXIMIZEGLYPH19_BMP BITMAP "bitmaps/BLUE_MAXIMIZEGLYPH19_BMP.bmp"
BLUE_MAXIMIZEGLYPH23_BMP BITMAP "bitmaps/BLUE_MAXIMIZEGLYPH23_BMP.bmp"
BLUE_MAXIMIZEGLYPH6_BMP BITMAP "bitmaps/BLUE_MAXIMIZEGLYPH6_BMP.bmp"
BLUE_MAXIMIZEGLYPH9_BMP BITMAP "bitmaps/BLUE_MAXIMIZEGLYPH9_BMP.bmp"
BLUE_MAXIMIZEGLYPH_BMP BITMAP "bitmaps/BLUE_MAXIMIZEGLYPH_BMP.bmp"
BLUE_MDICAPTIONBUTTON_BMP BITMAP "bitmaps/BLUE_MDICAPTIONBUTTON_BMP.bmp"
BLUE_MDIGLYPHCLOSE_BMP BITMAP "bitmaps/BLUE_MDIGLYPHCLOSE_BMP.bmp"
BLUE_MDIGLYPHMINIMIZE_BMP BITMAP "bitmaps/BLUE_MDIGLYPHMINIMIZE_BMP.bmp"
BLUE_MDIGLYPHRESTORE_BMP BITMAP "bitmaps/BLUE_MDIGLYPHRESTORE_BMP.bmp"
BLUE_MINIMIZEGLYPH19_BMP BITMAP "bitmaps/BLUE_MINIMIZEGLYPH19_BMP.bmp"
BLUE_MINIMIZEGLYPH23_BMP BITMAP "bitmaps/BLUE_MINIMIZEGLYPH23_BMP.bmp"
BLUE_MINIMIZEGLYPH6_BMP BITMAP "bitmaps/BLUE_MINIMIZEGLYPH6_BMP.bmp"
BLUE_MINIMIZEGLYPH9_BMP BITMAP "bitmaps/BLUE_MINIMIZEGLYPH9_BMP.bmp"
BLUE_MINIMIZEGLYPH_BMP BITMAP "bitmaps/BLUE_MINIMIZEGLYPH_BMP.bmp"
BLUE_NORMALGROUPBACKGROUND_BMP BITMAP "bitmaps/BLUE_NORMALGROUPBACKGROUND_BMP.bmp"
BLUE_NORMALGROUPCOLLAPSE_BMP BITMAP "bitmaps/BLUE_NORMALGROUPCOLLAPSE_BMP.bmp"
BLUE_NORMALGROUPEXPAND_BMP BITMAP "bitmaps/BLUE_NORMALGROUPEXPAND_BMP.bmp"
BLUE_NORMALGROUPHEAD_BMP BITMAP "bitmaps/BLUE_NORMALGROUPHEAD_BMP.bmp"
BLUE_PLACEBARBACKGROUND_BMP BITMAP "bitmaps/BLUE_PLACEBARBACKGROUND_BMP.bmp"
BLUE_PLACEBARBUTTONS_BMP BITMAP "bitmaps/BLUE_PLACEBARBUTTONS_BMP.bmp"
BLUE_PROGRESSCHUNKVERT_BMP BITMAP "bitmaps/BLUE_PROGRESSCHUNKVERT_BMP.bmp"
BLUE_PROGRESSCHUNK_BMP BITMAP "bitmaps/BLUE_PROGRESSCHUNK_BMP.bmp"
BLUE_PROGRESSTRACKVERT_BMP BITMAP "bitmaps/BLUE_PROGRESSTRACKVERT_BMP.bmp"
BLUE_PROGRESSTRACK_BMP BITMAP "bitmaps/BLUE_PROGRESSTRACK_BMP.bmp"
BLUE_RADIOBUTTON13_BMP BITMAP "bitmaps/BLUE_RADIOBUTTON13_BMP.bmp"
BLUE_RADIOBUTTON16_BMP BITMAP "bitmaps/BLUE_RADIOBUTTON16_BMP.bmp"
BLUE_RADIOBUTTON25_BMP BITMAP "bitmaps/BLUE_RADIOBUTTON25_BMP.bmp"
BLUE_RESIZEGRIP2_BMP BITMAP "bitmaps/BLUE_RESIZEGRIP2_BMP.bmp"
BLUE_RESTOREGLYPH19_BMP BITMAP "bitmaps/BLUE_RESTOREGLYPH19_BMP.bmp"
BLUE_RESTOREGLYPH23_BMP BITMAP "bitmaps/BLUE_RESTOREGLYPH23_BMP.bmp"
BLUE_RESTOREGLYPH6_BMP BITMAP "bitmaps/BLUE_RESTOREGLYPH6_BMP.bmp"
BLUE_RESTOREGLYPH9_BMP BITMAP "bitmaps/BLUE_RESTOREGLYPH9_BMP.bmp"
BLUE_RESTOREGLYPH_BMP BITMAP "bitmaps/BLUE_RESTOREGLYPH_BMP.bmp"
BLUE_SCROLLARROWGLYPHSSMALL_BMP BITMAP "bitmaps/BLUE_SCROLLARROWGLYPHSSMALL_BMP.bmp"
BLUE_SCROLLARROWGLYPHS_BMP BITMAP "bitmaps/BLUE_SCROLLARROWGLYPHS_BMP.bmp"
BLUE_SCROLLARROWS_BMP BITMAP "bitmaps/BLUE_SCROLLARROWS_BMP.bmp"
BLUE_SCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/BLUE_SCROLLSHAFTHORIZONTAL_BMP.bmp"
BLUE_SCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/BLUE_SCROLLSHAFTVERTICAL_BMP.bmp"
BLUE_SCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/BLUE_SCROLLTHUMBGRIPPERHORIZONTAL_BMP.bmp"
BLUE_SCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/BLUE_SCROLLTHUMBGRIPPERVERTICAL_BMP.bmp"
BLUE_SCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/BLUE_SCROLLTHUMBHORIZONTAL_BMP.bmp"
BLUE_SCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/BLUE_SCROLLTHUMBVERTICAL_BMP.bmp"
BLUE_SEPARATORVERT_BMP BITMAP "bitmaps/BLUE_SEPARATORVERT_BMP.bmp"
BLUE_SEPARATOR_BMP BITMAP "bitmaps/BLUE_SEPARATOR_BMP.bmp"
BLUE_SLIDERTRACK_BMP BITMAP "bitmaps/BLUE_SLIDERTRACK_BMP.bmp"
BLUE_SMALLCLOSEBUTTON_BMP BITMAP "bitmaps/BLUE_SMALLCLOSEBUTTON_BMP.bmp"
BLUE_SMALLCLOSEGLYPH_BMP BITMAP "bitmaps/BLUE_SMALLCLOSEGLYPH_BMP.bmp"
BLUE_SMALLFRAMECAPTIONSIZING_BMP BITMAP "bitmaps/BLUE_SMALLFRAMECAPTIONSIZING_BMP.bmp"
BLUE_SMALLFRAMECAPTION_BMP BITMAP "bitmaps/BLUE_SMALLFRAMECAPTION_BMP.bmp"
BLUE_SPECIALGROUPBACKGROUND_BMP BITMAP "bitmaps/BLUE_SPECIALGROUPBACKGROUND_BMP.bmp"
BLUE_SPECIALGROUPCOLLAPSE_BMP BITMAP "bitmaps/BLUE_SPECIALGROUPCOLLAPSE_BMP.bmp"
BLUE_SPECIALGROUPEXPAND_BMP BITMAP "bitmaps/BLUE_SPECIALGROUPEXPAND_BMP.bmp"
BLUE_SPECIALGROUPHEAD_BMP BITMAP "bitmaps/BLUE_SPECIALGROUPHEAD_BMP.bmp"
BLUE_SPINBUTTONBACKGROUNDDOWN_BMP BITMAP "bitmaps/BLUE_SPINBUTTONBACKGROUNDDOWN_BMP.bmp"
BLUE_SPINBUTTONBACKGROUNDLEFT_BMP BITMAP "bitmaps/BLUE_SPINBUTTONBACKGROUNDLEFT_BMP.bmp"
BLUE_SPINBUTTONBACKGROUNDRIGHT_BMP BITMAP "bitmaps/BLUE_SPINBUTTONBACKGROUNDRIGHT_BMP.bmp"
BLUE_SPINBUTTONBACKGROUNDUP_BMP BITMAP "bitmaps/BLUE_SPINBUTTONBACKGROUNDUP_BMP.bmp"
BLUE_SPINDOWNGLYPH_BMP BITMAP "bitmaps/BLUE_SPINDOWNGLYPH_BMP.bmp"
BLUE_SPINLEFTGLYPH_BMP BITMAP "bitmaps/BLUE_SPINLEFTGLYPH_BMP.bmp"
BLUE_SPINRIGHTGLYPH_BMP BITMAP "bitmaps/BLUE_SPINRIGHTGLYPH_BMP.bmp"
BLUE_SPINUPGLYPH_BMP BITMAP "bitmaps/BLUE_SPINUPGLYPH_BMP.bmp"
BLUE_STARTBUTTON_BMP BITMAP "bitmaps/BLUE_STARTBUTTON_BMP.bmp"
BLUE_STARTGROUPBACKGROUND_BMP BITMAP "bitmaps/BLUE_STARTGROUPBACKGROUND_BMP.bmp"
BLUE_STARTGROUPNEWAPPBUTTON_BMP BITMAP "bitmaps/BLUE_STARTGROUPNEWAPPBUTTON_BMP.bmp"
BLUE_STARTGROUPSEPERATOR_BMP BITMAP "bitmaps/BLUE_STARTGROUPSEPERATOR_BMP.bmp"
BLUE_STARTGROUPTOOLBARBUTTON_BMP BITMAP "bitmaps/BLUE_STARTGROUPTOOLBARBUTTON_BMP.bmp"
BLUE_STARTPANELLOGOFFBACKGROUND_BMP BITMAP "bitmaps/BLUE_STARTPANELLOGOFFBACKGROUND_BMP.bmp"
BLUE_STARTPANELLOGOFFBUTTONSHOT_BMP BITMAP "bitmaps/BLUE_STARTPANELLOGOFFBUTTONSHOT_BMP.bmp"
BLUE_STARTPANELLOGOFFBUTTONS_BMP BITMAP "bitmaps/BLUE_STARTPANELLOGOFFBUTTONS_BMP.bmp"
BLUE_STARTPANELMFUBACKGROUND_BMP BITMAP "bitmaps/BLUE_STARTPANELMFUBACKGROUND_BMP.bmp"
BLUE_STARTPANELMOREPROGARROWHOT_BMP BITMAP "bitmaps/BLUE_STARTPANELMOREPROGARROWHOT_BMP.bmp"
BLUE_STARTPANELMOREPROGARROW_BMP BITMAP "bitmaps/BLUE_STARTPANELMOREPROGARROW_BMP.bmp"
BLUE_STARTPANELMOREPROGBACKGROUND_BMP BITMAP "bitmaps/BLUE_STARTPANELMOREPROGBACKGROUND_BMP.bmp"
BLUE_STARTPANELPLACESBACKGROUND_BMP BITMAP "bitmaps/BLUE_STARTPANELPLACESBACKGROUND_BMP.bmp"
BLUE_STARTPLACESSEPARATOR_BMP BITMAP "bitmaps/BLUE_STARTPLACESSEPARATOR_BMP.bmp"
BLUE_STARTPROGRAMSSEPARATOR_BMP BITMAP "bitmaps/BLUE_STARTPROGRAMSSEPARATOR_BMP.bmp"
BLUE_STARTUSERPANEL_BMP BITMAP "bitmaps/BLUE_STARTUSERPANEL_BMP.bmp"
BLUE_STATUSBACKGROUND_BMP BITMAP "bitmaps/BLUE_STATUSBACKGROUND_BMP.bmp"
BLUE_STATUSPANE_BMP BITMAP "bitmaps/BLUE_STATUSPANE_BMP.bmp"
BLUE_TABBACKGROUND133_BMP BITMAP "bitmaps/BLUE_TABBACKGROUND133_BMP.bmp"
BLUE_TABBACKGROUND_BMP BITMAP "bitmaps/BLUE_TABBACKGROUND_BMP.bmp"
BLUE_TABITEMBOTH_BMP BITMAP "bitmaps/BLUE_TABITEMBOTH_BMP.bmp"
BLUE_TABITEMLEFT_BMP BITMAP "bitmaps/BLUE_TABITEMLEFT_BMP.bmp"
BLUE_TABITEMRIGHT_BMP BITMAP "bitmaps/BLUE_TABITEMRIGHT_BMP.bmp"
BLUE_TABITEMTOPBOTH_BMP BITMAP "bitmaps/BLUE_TABITEMTOPBOTH_BMP.bmp"
BLUE_TABITEMTOPLEFT_BMP BITMAP "bitmaps/BLUE_TABITEMTOPLEFT_BMP.bmp"
BLUE_TABITEMTOPRIGHT_BMP BITMAP "bitmaps/BLUE_TABITEMTOPRIGHT_BMP.bmp"
BLUE_TABITEMTOP_BMP BITMAP "bitmaps/BLUE_TABITEMTOP_BMP.bmp"
BLUE_TABITEM_BMP BITMAP "bitmaps/BLUE_TABITEM_BMP.bmp"
BLUE_TABPANEEDGE_BMP BITMAP "bitmaps/BLUE_TABPANEEDGE_BMP.bmp"
BLUE_TASKBANDBACKGROUND_BMP BITMAP "bitmaps/BLUE_TASKBANDBACKGROUND_BMP.bmp"
BLUE_TASKBANDBUTTONNOEDGEVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBANDBUTTONNOEDGEVERTICAL_BMP.bmp"
BLUE_TASKBANDBUTTONNOEDGE_BMP BITMAP "bitmaps/BLUE_TASKBANDBUTTONNOEDGE_BMP.bmp"
BLUE_TASKBANDBUTTONVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBANDBUTTONVERTICAL_BMP.bmp"
BLUE_TASKBANDBUTTON_BMP BITMAP "bitmaps/BLUE_TASKBANDBUTTON_BMP.bmp"
BLUE_TASKBANDFLASHBUTTONGROUPMENU_BMP BITMAP "bitmaps/BLUE_TASKBANDFLASHBUTTONGROUPMENU_BMP.bmp"
BLUE_TASKBANDFLASHBUTTON_BMP BITMAP "bitmaps/BLUE_TASKBANDFLASHBUTTON_BMP.bmp"
BLUE_TASKBANDHOVER_BMP BITMAP "bitmaps/BLUE_TASKBANDHOVER_BMP.bmp"
BLUE_TASKBANDSCROLLARROWGLYPHS_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLARROWGLYPHS_BMP.bmp"
BLUE_TASKBANDSCROLLARROWS_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLARROWS_BMP.bmp"
BLUE_TASKBANDSCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLSHAFTHORIZONTAL_BMP.bmp"
BLUE_TASKBANDSCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLSHAFTVERTICAL_BMP.bmp"
BLUE_TASKBANDSCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLTHUMBGRIPPERHORIZONTAL_BMP.bmp"
BLUE_TASKBANDSCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLTHUMBGRIPPERVERTICAL_BMP.bmp"
BLUE_TASKBANDSCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLTHUMBHORIZONTAL_BMP.bmp"
BLUE_TASKBANDSCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBANDSCROLLTHUMBVERTICAL_BMP.bmp"
BLUE_TASKBARBACKGROUNDVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBARBACKGROUNDVERTICAL_BMP.bmp"
BLUE_TASKBARBACKGROUND_BMP BITMAP "bitmaps/BLUE_TASKBARBACKGROUND_BMP.bmp"
BLUE_TASKBARCHEVRONVERT_BMP BITMAP "bitmaps/BLUE_TASKBARCHEVRONVERT_BMP.bmp"
BLUE_TASKBARCHEVRON_BMP BITMAP "bitmaps/BLUE_TASKBARCHEVRON_BMP.bmp"
BLUE_TASKBARGRIPPERVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBARGRIPPERVERTICAL_BMP.bmp"
BLUE_TASKBARGRIPPER_BMP BITMAP "bitmaps/BLUE_TASKBARGRIPPER_BMP.bmp"
BLUE_TASKBARSIZINGBARBOTTOM_BMP BITMAP "bitmaps/BLUE_TASKBARSIZINGBARBOTTOM_BMP.bmp"
BLUE_TASKBARSIZINGBARLEFT_BMP BITMAP "bitmaps/BLUE_TASKBARSIZINGBARLEFT_BMP.bmp"
BLUE_TASKBARSIZINGBARRIGHT_BMP BITMAP "bitmaps/BLUE_TASKBARSIZINGBARRIGHT_BMP.bmp"
BLUE_TASKBARSIZINGBARTOP_BMP BITMAP "bitmaps/BLUE_TASKBARSIZINGBARTOP_BMP.bmp"
BLUE_TASKBARTRAYVERTICAL_BMP BITMAP "bitmaps/BLUE_TASKBARTRAYVERTICAL_BMP.bmp"
BLUE_TASKBARTRAY_BMP BITMAP "bitmaps/BLUE_TASKBARTRAY_BMP.bmp"
BLUE_TOOLBARBACKGROUND_BMP BITMAP "bitmaps/BLUE_TOOLBARBACKGROUND_BMP.bmp"
BLUE_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP BITMAP "bitmaps/BLUE_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP.bmp"
BLUE_TOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/BLUE_TOOLBARBUTTONSSPLITDROPDOWN_BMP.bmp"
BLUE_TOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/BLUE_TOOLBARBUTTONSSPLIT_BMP.bmp"
BLUE_TOOLBARBUTTONS_BMP BITMAP "bitmaps/BLUE_TOOLBARBUTTONS_BMP.bmp"
BLUE_TOOLBARGRIPPERVERT_BMP BITMAP "bitmaps/BLUE_TOOLBARGRIPPERVERT_BMP.bmp"
BLUE_TOOLBARGRIPPER_BMP BITMAP "bitmaps/BLUE_TOOLBARGRIPPER_BMP.bmp"
BLUE_TRACKBARDOWN13_BMP BITMAP "bitmaps/BLUE_TRACKBARDOWN13_BMP.bmp"
BLUE_TRACKBARDOWN16_BMP BITMAP "bitmaps/BLUE_TRACKBARDOWN16_BMP.bmp"
BLUE_TRACKBARDOWN25_BMP BITMAP "bitmaps/BLUE_TRACKBARDOWN25_BMP.bmp"
BLUE_TRACKBARHORIZONTAL_BMP BITMAP "bitmaps/BLUE_TRACKBARHORIZONTAL_BMP.bmp"
BLUE_TRACKBARLEFT13_BMP BITMAP "bitmaps/BLUE_TRACKBARLEFT13_BMP.bmp"
BLUE_TRACKBARLEFT16_BMP BITMAP "bitmaps/BLUE_TRACKBARLEFT16_BMP.bmp"
BLUE_TRACKBARLEFT25_BMP BITMAP "bitmaps/BLUE_TRACKBARLEFT25_BMP.bmp"
BLUE_TRACKBARRIGHT13_BMP BITMAP "bitmaps/BLUE_TRACKBARRIGHT13_BMP.bmp"
BLUE_TRACKBARRIGHT16_BMP BITMAP "bitmaps/BLUE_TRACKBARRIGHT16_BMP.bmp"
BLUE_TRACKBARRIGHT25_BMP BITMAP "bitmaps/BLUE_TRACKBARRIGHT25_BMP.bmp"
BLUE_TRACKBARUP13_BMP BITMAP "bitmaps/BLUE_TRACKBARUP13_BMP.bmp"
BLUE_TRACKBARUP16_BMP BITMAP "bitmaps/BLUE_TRACKBARUP16_BMP.bmp"
BLUE_TRACKBARUP25_BMP BITMAP "bitmaps/BLUE_TRACKBARUP25_BMP.bmp"
BLUE_TRACKBARVERTICAL_BMP BITMAP "bitmaps/BLUE_TRACKBARVERTICAL_BMP.bmp"
BLUE_TRAYCHEVRONHORIZONTALOPEN_BMP BITMAP "bitmaps/BLUE_TRAYCHEVRONHORIZONTALOPEN_BMP.bmp"
BLUE_TRAYCHEVRONHORIZONTAL_BMP BITMAP "bitmaps/BLUE_TRAYCHEVRONHORIZONTAL_BMP.bmp"
BLUE_TREEEXPANDCOLLAPSE10_BMP BITMAP "bitmaps/BLUE_TREEEXPANDCOLLAPSE10_BMP.bmp"
BLUE_TREEEXPANDCOLLAPSE15_BMP BITMAP "bitmaps/BLUE_TREEEXPANDCOLLAPSE15_BMP.bmp"
BLUE_TREEEXPANDCOLLAPSE_BMP BITMAP "bitmaps/BLUE_TREEEXPANDCOLLAPSE_BMP.bmp"
BLUE_USERTILEBACKGROUND_BMP BITMAP "bitmaps/BLUE_USERTILEBACKGROUND_BMP.bmp"

#pragma code_page(65001)


#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif

